:root {
  --text: #b0ffb4;
  --menu-bg: #2c2c34f1;
  --card-color: #2b2629;
  --accent: #339;
  --button-bg: #0066cc;
  --button-hover: #014d99;
  --select-bg: #1c66b1; /* Should be a bit different from button-bg */
  --select-hover: #0f5397; /* Should be a bit different from button-hover */
  --border-color: #444;
  --input-bg: #3a3a42;
  --input-border: #5c5959;
}

#raw-input {
  height: 150px;
  max-width: 900px;
  max-height: 300px;
}


body {
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(105deg, #26292c, #29262c, #2c2a2a);
  color: var(--text);
}

h1 {
  text-align: center;
  color: var(--accent);
  margin-top: 20px;
}

#input-area,
#test-interface {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 48px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  background-color: var(--menu-bg);
  color: var(--text);
}

textarea,
input[type="text"],
#answer {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text);
}


button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--text);
  margin: 5px;
}

button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.3s ease;
}

#card {
  margin: 20px 0;
  font-size: 1.2rem;
  padding: 16px;
  background: var(--card-color);
  border-left: 4px solid var(--accent);
  border-radius: 8px;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}



#confirm-area {
  margin-top: 20px;
  text-align: center;
  display: none;
}

#progress {
  font-weight: 600;
  margin-bottom: 10px;
}


select { /* same as button, different background */
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--select-bg);
  color: var(--text);
  margin: 5px;
}

select:hover {
  background-color: var(--select-hover);
  transition: background-color 0.3s ease;
}

.confirm-btn:hover {
  background-color: #bbb;
}

#list-buttons button {
  margin: 5px 5px 0 0;
}


#home-btn:hover {
  background-color: #4444;
  transition: background-color 0.3s ease;
}

#home-btn {
  position: fixed;
  top: 10px;
  right: 140px;
  padding: 6px 12px;
  font-size: 0.9rem;
  background-color: #5555;
}